{% extends "base.html" %}

{% block content %}
<form method="POST">
    <div class="form">
        {{ tForm.hidden_tag() }}
        
        <div class="form-field center-stacked">
            {{ tForm.title.label }}
            {{ tForm.title() }}

            {% for error in tForm.title.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-field center-stacked">
            {{ tForm.project.label }}
            {{ tForm.project() }}

            {% for error in tForm.project.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-field center-stacked">
            {{ tForm.description.label }}
            {{ tForm.description() }}

            {% for error in tForm.description.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="form-field center-stacked">
            {{ tForm.dueDate.label }}
            {{ tForm.dueDate() }}

            {% for error in tForm.dueDate.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="form-field">
            {{ tForm.priority.label }}
            {{ tForm.priority() }}

            {% for error in tForm.priority.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="form-field">
            {{ tForm.progress.label }}
            {{ tForm.progress() }}

            {% for error in tForm.progress.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="form-field">
            {{ tForm.submit() }}
        </div>
    </div>
</form>

{% endblock %}