{% extends "base.html" %}

{% block content %}
<label class="completed-toggle">
    <input type="checkbox" id="show-completed">
    Show completed tasks
</label>
    <div style="padding-left: 25px; padding-right: 25px">
        <div class="task-container-header">Today's tasks</div>
        <div class="center-align">
            <div class="task-container" id="today-tasks">
                {% for task in todayTasks %}
                    {% include '_task.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="task-container-header">Future tasks</div>
        <div class="center-align">
            <div class="task-container" id="future-tasks">
                {% for task in tasks %}
                    {% include '_task.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/task_card.js') }}"></script>
{% endblock %}