<!doctype html>
<html>
<head>
    <title>To Dos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project_board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overall_tasks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>

<nav>
    <span class="evenly-spaced">
        <span>
            <a href="{{url_for('main.index')}}" {%if current_view=='index'%}class="active"{%endif%}>Home</a>
            <a href="{{url_for('projects.view_projects')}}" {%if current_view=='projects'%}class="active"{%endif%}}>Projects</a>
            <a href="{{url_for('main.view_tasks')}}" {%if current_view=='tasks'%}class="active"{%endif%}>All Tasks</a>
        </span>
        <span>
            <!-- <a href="{{url_for('main.add_task')}}" {%if current_view=='add_task'%} class="active"{%endif%}>Add Task</a> -->
            <a href="{% if project is defined %}{{ url_for('main.add_task', project_id=project.id) }}
                    {% else %}{{ url_for('main.add_task') }}{% endif %}"
                    {% if current_view == 'add_task' %}class="active"{% endif %}>Add Task</a>
            <a href="{{url_for('projects.add_project')}}" {%if current_view=='add_project'%} class="active"{%endif%}>Add Project</a>
            <a href="{{ url_for('main.download_tasks_csv') }}">Download Tasks CSV</a>
            <a href="{{ url_for('main.download_projects_csv') }}">Download Projects CSV</a>
        </span>
    </span>
</nav>

<main>
{% block content %}
{% endblock %}
</main>

</body>
</html>