{% extends "base.html" %}

{% block content %}
    <h1>My Projects</h1>

    <div class="right-align">
        <div class="toggle-bar">
            <div class="toggle-bar-left" id="toggle-official">Official Projects</div>
            <div class="toggle-bar-center active" id="toggle-all">All Projects</div>
            <div class="toggle-bar-right" id="toggle-unofficial">Personal Projects</div>
        </div>
    </div>

    <div class="project-cards">
    {% for project in projects %}
        <a class="project-card {% if project.official %}official{% else %}unofficial{% endif %}" href="{{url_for('projects.view_project', project_id=project.id)}}">
            <div class="project-card-header" style="--bgColor:
                {% if project.hexColor %}{{project.hexColor}}
                {% else %}#FFF{% endif %}
                ;">
                <span class="evenly-spaced">
                    <span>{{project.title}}</span>
                    <span>
                        [
                        {% if project.startDate %}
                            {{project.startDate}} - 
                            {% if project.endDate %}
                                {{project.endDate}}
                            {% else %}
                                present
                            {% endif %}
                        {% else %}
                        Ongoing
                        {% endif %}
                        ]
                    </span>
                </span>
            </div>
            <div class="project-card-body">
                {{project.description}}
            </div>
            <div class="project-card-footer">
                <span class="evenly-spaced">
                    <span>{{project.get_num_completed_tasks()}}/{{project.get_num_tasks()}}</span>
                    <!-- <img src="{{url_for('static', filename='img/pencil-square.svg')}}"> -->
                     <!-- TODO add edit from this page -->
                </span>
            </div>
            
        </a>
    {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/projects.js') }}"></script>

{% endblock %}